// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #e0e0e0;
$color-grey-light-2: #e0e0e0;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-blue-light-1: aqua;
$color-red-light-1: red;

$color-font-color-1: #0c3a58;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;